.abut_tittle {
    font-size: 50px;
    color: black;
    /* width: 100px; */
    text-align: center;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 132px;
}

.imgitemfirst {
    width: 354px;

}

.ab_imageblock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_flex {
    justify-content: center;
        display: flex;
        align-items: center;
        gap: 10px;
}


.about_discrip {
    display: block;
    font-size: 45px;
    font-weight: bold;
    width: 864px;
    text-align: center;
}

.disc {
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 270px;
}

.absab {
    margin-top: 130px;

}

