.abut_tittle {
    font-size: 50px;
    color: black;
    /* width: 100px; */
    text-align: center;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 132px;
}


.about_image_utem {
    width: 100%;
    display: block;
}

.about_image_utem_medium {
    width: 15%;

}

.about_image_block {
    width: 100px;
    width: 1000px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.about_image {
    margin-right: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_image_sec {
    margin-top: 108px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
}

.about_image_three {


    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_image_items {
    margin-top: 363px;
    height: 634px;
    width: 555px;
}

.about_discrip {
    display: block;
    font-size: 45px;
    font-weight: bold;
    width: 864px;
    text-align: center;
}

.disc {
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 270px;
}

.absab {
    margin-top: 130px;

}

