@import url(./bootstrap-grid.css);
@import url(./reset.css);

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.header {
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    background-image: url(../index_images/header_bgk.svg);
    width: 100%;

}

.main {
    background-image: url(../index_images/main_bgk.svg);
    background-position: 0%;
}

.logo img {
    width: 70%;
    margin-top: 20px;
}

.logo_secy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-size: 96px;
    font-weight: bold;
}

.logo_discrip {
    font-size: 36px;
    font-weight: bold;
}

.logo_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: space-around;
    width: 600px;
    padding: 10px;
    background-color: white;
    border: 1px solid;
}
.timer_sect {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.timer_item {

    font-size: 50px;
    font-weight: bold;
}