@import url(./bootstrap-grid.css);
@import url(./reset.css);
@import url(./catalog.css);
@import url(./basket.css);

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}


.url {
    text-decoration: none;
    color: white;
}

.header {
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    background-image: url(../index_images/header_bgk.svg);
    width: 100%;

}

.nav_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 8px 0px;
}

.nav_bar_list {
    display: flex;
    gap: 70px;

}
.nav_bar_item {
    font-size: 25px;
}
.main {
    background-image: url(../index_images/main_bgk.svg);
    background-position: 0%;
}

.logo img {
    width: 70%;
    margin-top: 20px;
}

.logo_secy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-size: 96px;
    font-weight: bold;
}

.logo_discrip {
    font-size: 36px;
    font-weight: bold;
}

.logo_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: space-around;
    width: 600px;
    padding: 10px;
    background-color: white;
    border: 1px solid;
}

.timer_sect {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.timer_item {

    font-size: 50px;
    font-weight: bold;
}

.card_name {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 428px;
    border-radius: 52px;
    background-color: black;
    color: white;
    font-size: 32px;
}

.card_price_item {
    width: 220px;
    background-color: black;
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    border-radius: 52px;
    padding: 10px;
    transition: 0.1s linear;

}

.card_price_item:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 0.1s linear;
}

.price_and_name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card_price {
    width: 451px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}



.vetments_cards {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.hide {
    display:none;
}



.active {
    background-color: black;;
    color: white;
    display: block;
}

.hide_catalog {
    display: none;
}

.vetments_card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.vetm_cards_flex {
    margin-top: 90px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer {
    background-image: url(../index_images/header_bgk.svg);
    width: 100%;

}

.promo_lables {
    margin-top: 15px;
}

.label_item {
    font-size: 36px;
    font-weight: bold;
}


@media (max-width: 1424px) {
    .vetments_cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .catalog_filt_btns {
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 776px) {
    .logo_secy {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 50%;
    }

    .tittle {
        font-size: 84px;
    }

    .logo_discrip {
        font-size: 32px;
    }



}


@media (max-width: 624px) {
    .timer {
        width: 450px;
    }
}