.email {
    /* width: 590px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addres_inputs {
    display: flex;
    gap: 10px;
}

.email_inp {
    padding: 9px;
    padding-left: 10px;
    width: 96%;
}

.email label {

    font-size: 35px;
    font-weight: bold;
}

.email_inp::placeholder {
    font-size: 20px;

}

.adresinp {}

.addres {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.pay_options {
    padding: 10px;
    width: 160px;
}

.adrresplchold {
    padding: 9px;
    padding-left: 10px;
    width: 270px;
}

.adrresplchold::placeholder {
    font-size: 20px;

}

.number {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.city {
    padding: 9px;
    /* width: 100%; */
}

.city::placeholder {
    font-size: 20px;

}

.card_inp::placeholder {
    font-size: 17px;
}

.main_number {
    display: flex;
    gap: 5px;

}

.main_number input {
    width: 100%;
}

.form_flex {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
}

.ticket {
    margin-top: 60px;
    width: 300px;
}

.ticketinp {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_inp {
    width: 121px;
    padding: 10px;
}

.visacard {
    margin-right: 322px;
    text-align: start;
    width: 300px;
    margin-top: 10px;
}

.pay_funct {
    display: flex;
    flex-direction: column;
}

.paybtn {
    padding: 10px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border: 3px solid black;
    transition: 0.3s ease;
    margin-top: 10px;
}

.paybtn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

@media (max-width:656px) {
    .email_inp {
        width: 93%;
    }

    .addres_inputs {
        flex-direction: column;
    }

    .number {
        flex-direction: column;
    }

    .adrresplchold {
        width: 137px;


    }

    .city {
        width: 139px;
    }

    .main_number {
        flex-direction: column;
    }
    
    .main_number input {
        width: 93%;
 }

 .visacard {
    margin-right: 0px;
 } 
}